* {
    padding: 0;
    margin: 0;
}
main{
    background: #F5F8FF;
}
/* header style */
.inter-color1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 34px;
  font-style: normal;
  color: #4E47FF;
}

.raleway-color2{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 65px;
  font-style: normal;
}
header{
    background-image: url('Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 698px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.btn1{
    color: #FFFFFF;
    background-color: #4E47FF;
    width: 132px;
    height: 48px;
    border: none;
    border-radius: 10px;
}
.banner{
    max-width: 905px;
    max-height: 237px;
    margin: 309px auto;
    text-align: center;
}
.btn2{
    color: #FFFFFF;
    background-color: #4E47FF;
    width: 174px;
    height: 48px;
    border: none;
    border-radius: 10px;
}
/* main style */


.action1{
    max-width: 1140px;
    height: 328px;
    margin: 116px 159px 0 141px;
}
.div-flex1{
    display: flex;
    gap: 220px;
    align-items: center;
}
.column1{
    max-width: 517px;
    height: 203px;
    padding: 62.5px auto 62.5px 0;
}
.column2{
    max-width: 403px;
    height: 328px;
    border-radius: 48px;
}
.font1{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: bold;
}
.font2{
     font-family: "Raleway", sans-serif;
     font-size: 24px;
     font-weight: 400;
     color: rgba(37, 36, 50, 0.5);
}
.btn3{
    color: #FFFFFF;
    background-color: #4E47FF;
    width: 229px;
    height: 48px;
    border: none;
    border-radius: 10px;
}
/* action 2 */
.action2{
    max-width: 1140px;
    height: 306px;
    background: rgba(78, 71, 255, 0.1);
    margin: 97px 151px 0 149px;
    text-align: center;
    border-radius: 24px;
    /* padding: 50px auto;  */
}
.sub-action{
    max-width: 856px;
    height: 206px;
    /* padding: 50px auto; */
    /* background-color: azure; */
    padding-top: 50px;
    padding-left: auto;
    
}
.div-flex2{
    display: flex;
    gap: 158px;
    max-width: 856px;
    height: 121px;
    /* padding: 135px 142px 50px 142px; */
}
.font3{
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 40px;
    /* text-align: center; */
}
.font4{
    width: 180px;
    height: 121px;
}
.color11{
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.color12{
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;

}
/* action 3 */
.action3{
    max-width: 1140px;
    height: 342px;
    margin: 156px 151px 0 149px;
}
.div-flex3{
    display: flex;
    gap: 20px;
}
.color21{
     font-family: "Raleway", sans-serif;
     font-size: 42px;
     font-weight: bold;
     text-align: center;
     padding-bottom: 50px;
}
.font5{
    width: 366.67px;
    height: 243px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #F2EDED;
    /* padding: 24px; */
    border-radius: 14px;
}
.mistake{
    padding: 24px;
}
.icon{
    padding-bottom: 24px;
    width: 116px;
    height: 20px;
}
.color22{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    padding-bottom: 8px;
}
.div-sub-flex{
    display: flex;
    padding-top: 24px;
    gap: 12px;
}
.ava{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* action 4 */
.action4{
    max-width: 1140px;
    height: 696.77px;
    background: #FFFFFF;
    margin: 137px 151px 0 149px;
    /* padding: 71px 150px;  */
    /* padding: 71px 0 71px 0; */
}
.container1{
    text-align: center;
    padding: 71px 0 71px 0;
    /* padding: 71px auto; */
}
.color31{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    /* width: 516px; */
    height: 60px;
}
.color32{
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* width: 487px; */
    height: 22px;
}
.btn4{
    color: #FFFFFF;
    background-color: #4E47FF;
    width: 195px;
    height: 48px;
    border: none;
    border-radius: 10px;
    text-align: center;
    /* padding-bottom: 20px; */
    /* padding: 20px 322.5px 0 322.5px; */
}
.last-pic{
    max-width: 840px;
    height: 364.77px;
    border-radius: 48px;
    padding-top: 20px;
}
/* action 5 */
.action5{
    max-width: 1140px;
    height: 632px;
    margin: 92.33px 150px 0 150px;
}
.div-flex4{
    display: flex; 
    gap: 115px; 
    /* justify-content: space-between;  */
    align-items: center;
}
.sub-div-fl{
     max-width: 528px; 
    height: 232px;
}
.sub-div-fl2{
     max-width: 497px; 
    height: 490px;
}
.color41{
    font-family: "Raleway", sans-serif;
    font-size: 97px;  
    font-weight: bold;
}
.color42{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.color43{
    height: 70px;
    max-width: 497px;
    background-color: #FFFFFF;
    padding-bottom: 19px;
}
.color44{
    max-width: 497px;
    height: 135px;
    background-color: #FFFFFF;
    padding-bottom: 19px;
}
/* footer */
.footer-sec{
    max-width: 1440px;
    height: 428px;
    background-color: #FFFFFF;
}
.color51{
    font-family: "Inter", sans-serif;
    font-size: 100px;
    color: #4E47FF;
}
.color52{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8987A1;
}



